<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>客服更新</title>
    <link href="../static/asserts/plugins/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"/>
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- JQuery -->
    <script src="../static/asserts/plugins/jquery/jquery-2.1.1.min.js"></script>
    <!-- 引入bootstrap 的插件 -->
    <script src="../static/asserts/plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            var flag = [true, true, true, true];

            //用户名校验
            $("#username").blur(function () {
                if ($.trim($("#username").val()) == "" || $.trim($("#username").val()) == null) {
                    $("span:eq(0)").html("<font color='red'>客服姓名不能为空</font>");
                } else {
                    $("span:eq(0)").text("");
                    flag[0] = false;
                }
            });

            //密码非空校验
            $("#password").blur(function () {
                if ($.trim($(this).val()) == "" || $.trim($(this).val()) == null) {
                    $("span:eq(1)").html("<font color='red'>客服密码不能为空</font>");
                } else {
                    $("span:eq(1)").text("");
                    flag[1] = false;
                }
            });

            //确认密码校验
            $("#password1").blur(function () {
                if ($.trim($(this).val()) == "" || $.trim($(this).val()) == null) {
                    $("span:eq(2)").html("<font color='red'>确认密码不能为空</font>");
                } else if ($.trim($(this).val()) != $("#password").val()) {
                    $("span:eq(2)").html("<font color='red'>两次密码不一致</font>");
                } else {
                    $("span:eq(2)").text("");
                    flag[2] = false;
                    flag[3] = false;
                }
            });

            // 提交事件
            $("form").submit(function () {
                if (flag[0]) {
                    alert("客服姓名不能为空");
                    return false;
                }
                if (flag[1]) {
                    alert("客服密码不能为空");
                    return false;
                }
                if (flag[2]) {
                    alert("确认密码不能为空");
                    return false;
                }
                if (flag[3]) {
                    alert("两次密码不一致");
                    return false;
                }
            });

        });
    </script>

</head>
<body>
<h2>管理员在此对客服进行更新</h2>
<div th:utext="${errorMsg}"></div>
    <form action="/admin/admin/update">
        <label for="aId">*客服编号：</label><input type="text" readonly="readonly" name="aId" id="aId" th:value="${admin1.aId}"/><br/>
        <label for="adminName">*客服姓名：</label><input type="text" name="adminName" id="adminName" th:value="${admin1.adminName}"/><span></span><br/>
        <label for="password">*客服密码：</label><input type="text" name="password" id="password" th:value="${admin1.password}"/><span></span><br/>
        <label for="realName">真实姓名：</label><input type="text" name="realName" id="realName" th:value="${admin1.realName}"/><br/>
        <input type="submit" value="更新"/>
    </form>
</body>
</html>