<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.healthycustom.client.dao.mapping.AdminMapperXml">
    <select id="selectAllAdmin" resultType="com.group.healthycustom.client.pojo.Admin">
        SELECT
        `a_id`,
        `admin_name`,
        `password`,
        `real_name`
        FROM
        `admin`
        WHERE
        `flag` = 1;
    </select>

    <select id="selectAdminById" resultType="com.group.healthycustom.client.pojo.Admin">
        SELECT
        `a_id`,
        `admin_name`,
        `password`,
        `real_name`
        FROM
        `admin`
        WHERE
        `flag` = 1
        and
        `a_id` = #{aId};
    </select>

    <insert id="addAdmin">
INSERT INTO `cuff`.`admin` (
	`admin_name`,
	`password`,
	`real_name`
)
VALUES
	(
		#{adminName},
        #{password},
        #{realName}
	);
    </insert>

    <update id="updateAdmin">
        UPDATE `cuff`.`admin`
        <set>
            <if test="null!=adminName">
                `admin_name` = #{adminName},
            </if>
            <if test="null!=password">
                `password` = #{password},
            </if>
            <if test="null!=realName">
                `real_name` = #{realName},
            </if>
        </set>
        WHERE
        (`a_id` = #{aId});
    </update>

    <update id="deleteAdmin">
        UPDATE `cuff`.`admin`
        set
            `flag` = 0
        WHERE
        `a_id` = #{aId};
    </update>

</mapper>