<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.healthycustom.client.dao.mapping.BraceletMapper" >
  <resultMap id="BaseResultMap" type="com.group.healthycustom.client.pojo.Bracelet" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="b_id" property="bId" jdbcType="INTEGER" />
    <result column="temperature" property="temperature" jdbcType="INTEGER" />
    <result column="heart_rate" property="heartRate" jdbcType="INTEGER" />
    <result column="adress" property="adress" jdbcType="VARCHAR" />
    <result column="exercise" property="exercise" jdbcType="INTEGER" />
    <result column="calorie" property="calorie" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="b_flag" property="bFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    b_id, temperature, heart_rate, adress, exercise, calorie, create_date, b_flag
  </sql>
</mapper>