<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.healthycustom.client.dao.mapping.UserMapper" >
  <resultMap id="BaseResultMap" type="com.group.healthycustom.client.pojo.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="b_id" property="bId" jdbcType="BIGINT" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    u_id, username, password, sex, b_id, c_id, create_date, flag
  </sql>
</mapper>